*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main{
    width: 100%;
}

main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
    
}

main section .top{
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-xl);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
    width: 65%;

    align-items: center;
    /* background-color: burlywood; */
}

main section .bottom{
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
    background-color: var(--bg-secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
   
}
main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    gap: var(--gutter-sm);
}
main section .bottom .placeholder i{
    font-size: 10rem;   
}
main section .bottom .placeholder p{
    font-size: var(--font-size-lg);   
}
/* ---------------------------------------------------------------------------------------------------------- */
main section .right{
   
    width: 35%;
    padding: var(--padding-lg);
    border-radius: var(--border-radius-2xl);
    background-color: var(--bg-secondary-color);
}
main section .right{
    display: flex;
    flex-direction: column;

    gap: var(--gutter-md);

}
main section .right .filter{
    width: 100%;

}
main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--nargin-sm);
    appearance: none;
}
main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: aquamarine;
    border-radius: 50%;
    margin-top: -6px;
}
main section .right .filter input::-webkit-slider-runnable-track{
    background-color: var(--bg-active-color);
    height: 3px;
    border-radius:2px
}

main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}



